<!-- <link rel="stylesheet" href="/css/user_profile.css">
    <h1>Codeial /Profile Page</h1>
    
    
<%if(locals.user.id==profile_user.id){%>
    <!-- if user matches then show the form -->
    <!-- <form action="/users/update/<%=profile_user.id%>">
        <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.id%>" required>
        <input type="email" name="email" placeholder="Your email" value="<%=profile_user.id%>" required>
    </form>
    <%}else{%>
    <!-- else only show profile info -->
         <!-- <p><%= profile_user.name%></p>
         <p><%= profile_user.email%></p>
         <%} %> -->
          <!-- --> 

          <link rel="stylesheet" href="/css/user_profile.css">
          <h1>
              Codeial / Profile Page
          </h1>
  
          
  
  
          <% if(user.id == profile_user.id){ %>
              <!-- if user matches then show the form -->
              <form action="/users/update/<%= profile_user.id %>" method="post">
                  <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                  <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
                  <input type="submit"  value="Update">
                  <input type="hidden" name="id" value="<%= profile_user.id %>">
                </form>
              
          <%}else{%>    
              <!-- else show only the profile info -->
              <p><%= profile_user.name %></p>
              <p><%= profile_user.email %></p>
              <p><%= user.email %></p>
          <%} %>
  